.resume
  .left
    .personimg
      .names
        h1.name 魏廷維
        h5.emg_name (Ting Wei,wei)
    hr
    p  主要研究是在藍寶石基板上成長SiC薄膜(以熱裂解化學沉積法)，並探討其成長參數對薄膜特性之影響。利用各種不同的檢測儀器，例如 : X光繞射儀(XRD)、光學穿透譜量測(UV-vis)、原子力顯微鏡(AFM)、以及掃描式電子顯微鏡(SEM)。在2011年參與材料年會的發表"矽磊晶薄膜之研究"期刊，2012年發表"以熱裂解化學沉積法成長碳化矽薄膜之研究"論文。
    .buttons
      a.btn.fill(href="") 研究論文
      a.btn(href="") 期刊
    .block
      h4 Process Skill
      h2 製程技能
      ul.listProgram
         li 磊晶製程優化
          .bar
            .value.p90
         li Layout光罩設計
          .bar
            .value.p40                    
         li 高電流電晶體製程
          .bar
            .value.p60 
      h4 Network Skill      
      h2 網路技能
      ul.listProgram
         li 寬頻障礙排除
          .bar
            .value
         li Server架設
          .bar
            .value.p20            
         li 網路路由設計
          .bar
            .value.p40    
      h4 Programming Skill   
      h2 程式技能
      ul.listProgram
         li Html/Css/Js
          .bar
            .value.p70 
         li C#
           .bar
            .value.p40
         li Python
           .bar
            .value.p60           
  .right
    .decoration
    .block
      h4 Experience / Works
      h2 學經歷
      ul.listExperience
        li.year 2011
          ul
            li 材料年會發表"矽磊晶薄膜之研究"期刊
            li 發表"成長碳化矽薄膜之研究"論文
        li.year 2012
          ul 
            li 交通大學光電系統所畢業
            li 交通大學研究助理
            li 台灣積體電路製造製程工程師
        li.year 2013
            ul
              li 中華電信員工
              li 參與清大團隊製作Android app
        li.year 2015
            ul
              li 利用C#程式來解決寬頻實務
                        
        li.year 2016
            ul
              li 組裝礦機並研究虛擬貨幣趨勢
              li 利用python程式來分析貨幣市場   
        li.year 2018
            ul
              li Html/Css/Js 寫出個人網頁  
              li 參與職訓局的前端網頁設計課程
              li 藉由python程式，寫出自己選股策略
              
    .block
      h4 Skill
      h2 專業技能
      ul.listSkill
        li 
          .circle
            .p90
            .p180
            .p270
            .p360
          .skill X光繞射儀(XRD)分析        
        li   
          .circle
            .p90
          .skill 光學穿透量測(UV-vis)分析
        li   
          .circle
            .p90
            .p180
            .p270
          .skill 原子力顯微鏡(AFM)分析 
        li   
          .circle
            .p90
            .p180
            .p270
          .skill 掃描電子顯微鏡(SEM)分析
        li 
          .circle
            .p90
            .p180
            .p270
            .p360
          .skill 寬頻網路障礙排除      
        li   
          .circle
            .p90
            .p180
            .p270
          .skill 前端網頁開發(html/css/js)
        li   
          .circle
            .p90
          .skill Android app (java)               
        li   
          .circle
            .p90
          .skill 解決寬頻實務(C#)
        li   
          .circle
            .p90
            .p180
          .skill 分析市場(python)       
          
      
      
  