.topic{
  positon:relative;
}
#waterform {
  color: white;
  position: absolute;
  left: 50%;
  top: 700px;
  -webkit-transform: translate(-40%, -72%);
          transform: translate(-40%, -72%);
  z-index: 20;
  margin-bottom: 0px;
}

.sendok {
  left: 47%;
  position: fixed;
  font-size: 18px;
  color: white;
  top: 45%;
  left: 55%;
  letter-spacing: 2px;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.bigok {
  font-size: 100px;
  letter-spacing: 2px;
}

::-moz-selection {
  background-color: salmon;
  color: white;
}

::selection {
  background-color: salmon;
  color: white;
}

.parallax > use {
  -webkit-animation: move-forever 12s linear infinite;
          animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}
.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

body {
  margin: 0;
/*   max-height: 100vh;
  overflow: hidden; */
  padding: 9em 0 0 0;
}

.content {
  font-family: 'Lato',sans-serif;
  text-align: center;
  background-color: #2d55aa;
  text-align: center;
/*   min-height: 75vh; */
  height: 100%;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
}

.content {
  font-size: 1em;
}

.content h1 {
  margin-top: -1.3em;
  font-weight: 100;
  font-size: 5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width: 50em) {
  .content h1 {
    font-size: 12vmax;
  }

  .editorial {
    height: 17vw;
  }
}
h1 {
  outline: none;
}

body {
  background-color: #2196F3;
}

h1 {
  font-weight: normal;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: white;
  text-align: center;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
}

/* Animation webkit */
@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
#form {
  height: 120%;
  margin-top: -40px;
  background-color: #6ca3a3;
  overflow: hidden;
  position: relative;
}

form {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
}

label, input, textarea {
  display: block;
}

input, textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 2em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 125px;
  resize: none;
  overflow: auto;
}

input[type="submit"] {
  background-color: #F90;
  color: white;
  height: 80px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #e58f0e;
}

label {
  font-size: 2.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.formgroup, .formgroup-active, .formgroup-error {
  font-family: 'Raleway', sans-serif;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

svg#fish {
  top: 5em;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

/* Fish Animation */
svg#fish8 {
  top: 18em;
}

svg#fish16 {
  top: 31em;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes swim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
.fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  fill: #528484;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
/*END Fish Animation*/

/* @media screen and (min-width: 600px) {
  #waterform{
    color: white;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-40%,-115%);
}  
  
  
}



@media screen and (max-width: 1080px) {
  #waterform{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-115%);
}  
  
  
} */
